.homepage {
    width: 100vw;
    height: 100vh;
    background-image: url('../../Images/haaland_homepage.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center -25%; 
}

.home{
    color: red;
}