article.textbox{
    width: 20rem;
    height: 11rem;
    background-color: rgba(222, 239, 250, 0.693);
    margin-left: 10rem;
    margin-top: -25.5rem;
    border-radius: 1rem;
}

p.intro-text{
    padding: 1rem;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 51, 102);

}
.link-home {
    color: rgb(13, 82, 113);
    font-size: 1.6rem;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: -1.2rem;
    transition: font-size 0.1s ease, color 0.1s ease, font-weight 0.1s ease;
}


.link-home:hover{
    font-size: 1.8rem;
    color: rgb(0, 51, 102);
    font-weight: bold;
}