nav.nav-bar{
    padding-bottom: 1rem;
    width: 100vw;
    background-color: rgb(164, 194, 219);
}
.head{
    padding: 1rem;
    font-size: 1.6rem;
    margin-left: 5rem;
}
img.nav-icon{
    width: 2rem;
}

h1.main-head{
    margin-left: 3rem;
    margin-top: -2.7rem;
    color: rgb(36, 60, 81);
}

section.links{
    margin-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -5rem;    
    
}

.link{
    color: rgb(36, 60, 81);
    font-size: 1.25rem;
    margin-left: 20px;
    text-decoration: none;
    
}

#sbc-nav-btn{
    padding: 0.5rem;
    background-color: rgb(36, 60, 81);
    color: white;
    border-radius: 1rem;
    align-items: center;
}